.home-banner {
    padding: 50px 0 100px;
    background: url(../../images/bannerbg.jpg) center;
    background-size: 100%;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 40px;
        top: 40px;
        width: 150px;
        height: 150px;
        background: url(../../images/star.svg) no-repeat;
        transform: rotate(var(--rotateVal));
        @include max-width($md) {
            display: none;
        }
    }
    .row{
        position: relative; 
        @include max-width($md) {
            margin-bottom: 120px;
        }  
    }
    .banner-img {
        @include max-width($md) {
            width: 300px;
            display: table;
            margin: 0 auto;
        }
    }
    h1 {
        font-family: $secondary-font;
        font-size: 6vw;
        color: $primary;
        @include max-width($md) {
            margin-bottom: 0;
        }
    }
    .banner-btns {
        @include max-width($md) {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-around;
        }
        .btn {
            min-width: 130px;
            font-size: 18px;
            padding: 8px 10px;
            position: relative;
            overflow: hidden;
            z-index: $low;
            border-radius: 30px;
            &:focus-visible{
                outline: none;
                border: 0;
            }
            @include max-width($md) {
                width: 100px;
                height: 100px;
                min-width: inherit;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &:hover {
                background: none;
                color: $white;
                .wave {
                    top: 0;
                }
            }
            .wave {
                position: absolute;
                top: calc(100% + 22px);
                left: 0;
                right: 0;
                height: 100%;
                z-index: -1;
                background: #00aeff;
                transition: all 1s ease-in-out 0s;
                &:after {
                    content: "";
                    background: url(../../images/wave.png);
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 100%;
                    height: 22px;
                    animation: wave 0.3s linear 0s infinite;
                }
                @keyframes wave {
                    to {
                        background-position: 0 0;
                    }
                    from {
                        background-position: -118px 0;
                    }
                }
            }
            &.btn-outline-primary {
                border: 2px solid $colorAlpha;
                color: $colorAlpha;
                @include max-width($md) {
                    background: $colorAlpha;
                    color: $white;
                    text-transform: uppercase;
                    box-shadow: 0 0 0 5px rgba($colorAlpha, 0.3);
                }
                &:hover {
                    color: $white;
                }
                .wave {
                    background: $colorAlpha;
                    &:after {
                        background: url(../../images/wave.png);
                    }
                }
            }
            &.btn-outline-success {
                border: 2px solid $colorBeta;
                color: $colorBeta;
                @include max-width($md) {
                    background: $colorBeta;
                    color: $white;
                    text-transform: uppercase;
                    box-shadow: 0 0 0 5px rgba($colorBeta, 0.3);
                }
                &:hover {
                    color: $white;
                }
                .wave {
                    background: $colorBeta;
                    &:after {
                        background: url(../../images/colorBeta.png);
                    }
                }
            }
            &.btn-outline-secondary {
                // background: $primary;
                border: 2px solid $primary;
                color: $primary;
                @include max-width($md) {
                    background: $primary;
                    color: $white;
                    text-transform: uppercase;
                    box-shadow: 0 0 0 5px rgba($primary, 0.3);
                }
                &:hover {
                    color: $white;
                }
                .wave {
                    background: $primary;
                    &:after {
                        background: url(../../images/primary.png);
                    }
                }
            }
        
            
        }
    }
    .banner-el {
        @extend .flex, %justify-between;
        padding: 0 60px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        @include max-width($md) {
            padding: 0 15px;
        }        
        img {
            height: 150px;
            transform-origin: bottom;
            animation: windy 3s infinite;
            transform: skew;
            animation-direction: alternate;
            @include max-width($md) {
                height: 60px;
            }
        }
    }

    &.scrolled {
        animation: bgZoom 2s;
        &:before {
            // animation: rotating 2s;
        }
    }
}

.magic-section {
    overflow: hidden;
    padding-bottom: 50px;
    @include max-width($xs) {
        padding-bottom: 25px;
        border-bottom: 10px solid $secondary;
    }
    h1 {
        background: $secondary;
        font-family: $secondary-font;
        font-size: 50px;
        color: $text;
        text-align: center;
        position: relative;
        z-index: 2;
        padding: 15px 0;
        margin: 0;
        @include max-width($md) {
            font-size: 40px;
            margin: 0 -15px;
            margin-bottom: calc(7% + 30px);
        }
        @include max-width($sm) {
            margin-bottom: calc(7% + 10px);

        }
        @include max-width($xs) {
            font-size: 35px;
        }
        &:before {
            content: "";
            position: absolute;
            width: 50vw;
            background: $secondary;
            top: 0;
            bottom: 0;
            right: 50%;
            z-index: -1;
            @include max-width($md) {
                width: 100%;
                background: url(../../images/responisve-el1.png) no-repeat;
                background-size: 100%;
                right: 0;
                top: 100%;
                bottom: auto;
                padding-bottom: 7%;
            }
        }
        &:after {
            content: "";
            position: absolute;
            width: 50vw;
            background: $secondary;
            top: 0;
            bottom: 0;
            left: 50%;
            z-index: -1;
            @include max-width($md) {
                width: auto;
                left: -25%;
                right: -25%;
            }
        }
    }
    .magic-links {
        @extend .flex, %justify-around;
        @include max-width($md) {
            flex-flow: wrap;
            justify-content: space-around
        }
        a {
            @extend .flex, %flex-column, %align-center;
            margin-top: -75px;
            font-size: 25px;
            color: $text;
            text-align: center;
            line-height: 1.2;
            @include max-width($md) {
                margin: 12px 15px;
                font-size: 18px;
            }
            @include max-width($sm) {
                width: 100%;
            }
            &:before {
                content: "";
                width: 150px;
                height: 150px;
                background: url(../../images/star-green.svg) no-repeat center center $secondary;
                background-size: calc(100% - 20px);
                @extend %rounded-border;
                margin-bottom: 15px;
                @include max-width($md) {
                    display: none;
                }
            }
            &:hover {
                font-weight: 700;
                &:before {
                    animation: rotating 2s ease-out 0s;
                }
            }
            br{
                display: none;
            }
        }
    }
    &.scrolled {
        .magic-links {
            a {
                animation: slideInDown 0.4s ease-in-out 0s;
            }
        }
    }
}

.home-shopfor {
    background: $primary;
    padding: 60px 0 30px;
    text-align: center;
    @include max-width($md) {
        padding: 30px 30px 30px;
    }
    figure {
        @extend %rounded-border;
        display: inline-block;
        overflow: hidden;
        background: $secondary;
        padding: 15px;
        position: relative;
        width: 350px;
        max-width: 100%;
        @include max-width($md) {
            padding: 10px;
            width: 280px;
        }
        img {
            @extend %rounded-border;
            z-index: 1;
            position: relative;
        }
        &:after {
            content: "";
            background: $white;
            position: absolute;
            top: 25%;
            bottom: 25%;
            left: 0;
            right: 0;
            transition: all 1s ease-in-out 0s;
        }
    }
    h3 {
        color: $white;
        text-align: center;
        font-weight: 700;
        font-size: 35px;
        @include max-width($md) {
            font-size: 25px;
        }
        &:after {
            content: "";
            width: 100px;
            height: 3px;
            background: $colorAlpha;
            margin: 15px auto;
            display: table;
            border-radius: 5px;
            @include max-width($md) {
                margin: 10px auto 0;
            }
        }
    }
    p {
        color: $white;
        a {
            display: table;
            margin: 0px auto;
            font-weight: 700;
            color: $white;
            position: relative;
            z-index: 2;
            padding: 2px 12px;
            &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                inset: 0 0 0 0;
                background: $colorAlpha;
                z-index: -1;
                transition: transform .3s ease;

                transform: scaleX(0);
                transform-origin: bottom right;
            }
            &:hover {

                &:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }
    .shopfor:hover {
        figure {
            &:after {
                @include transform(rotate(180deg));
            }
        }
    }
}

.home-featured {
    padding: 50px 0 130px;
    background: url(../../images/featured-bg.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    @include max-width($md) {
        padding: 30px 30px 45px;
    }
    &:after {
        content: "";
        position: absolute;
        right: 30px;
        bottom: 30px;
        height: 150px;
        width: 150px;
        background: url(../../images/star.svg) no-repeat center;
        background-size: 100%;
        transform: rotate(var(--rotateVal));
        @include max-width($sm) {
            right: auto;
            left: -50px;
            width: 100px;
            height: 100px;
            bottom: 15px;
        }
    }
    .col-prod {
        display: block;
        text-align: center;
        color: $text;
        figure {
            height: 440px;
            background: url(../../images/prod-bg1.png) no-repeat center;
            background-size: auto 100%;
            @extend .flex, %align-center, %justify-center;
            padding-right: 15px;
            margin-bottom: 30px;
            @include max-width($sm) {
                height: auto;
                margin-bottom: 10px;
            }
            img {
                @include max-width($sm) {
                    margin: 20% 0;
                }
                &.hover {
                    position: absolute;
                    opacity: 0;
                }
            }
            figcaption {
                position: relative;
                // transform: scale(0.9);
            }
        }
        &:hover {
            figure {
                img {
                    opacity: 0;
                    &.hover {
                        opacity: 1;
                        transition: 1.2s;
                    }
                }
            }
            h4 {
                color: $white;
                &:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
        h4 {
            font-weight: 700;
            font-size: 30px;
            margin: 0 auto;
            display: table;
            padding: 2px 10px;
            position: relative;
            z-index: 2;
            @include max-width($sm) {
                font-size: 16px;
            }
            @include max-width(399px) {
                font-size: 14px;
            }
            &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                inset: 0 0 0 0;
                background: $colorAlpha;
                z-index: -1;
                transition: transform 0.3s ease;
                transform: scaleX(0);
                transform-origin: bottom right;
            }
            
        }
        span {
            font-size: 28px;
            @include max-width($sm) {
                font-size: 18px;
            }
        }
    }
    .owl-item:nth-child(2) {
        figure {
            background: url(../../images/prod-bg2.png) no-repeat center;
            background-size: auto 100%;
        }
    }
    .owl-item:nth-child(3) {
        figure {
            background: url(../../images/prod-bg3.png) no-repeat center;
            background-size: auto 100%;
        }
    }
    &.scrolled {
        animation: bgZoom 2s;
        &:before {
            // animation: rotating 2s;
        }
    }
}

.home-strip {
    background: $secondary;
    z-index: $low;
    position: relative;
    padding: 24px 0 20px;
    @include max-width($md) {
        text-align: center;
        padding: 8px 0 10px 160px;
        margin-bottom: 50px;
    }
    .has-img {
        position: relative;
        @include max-width($md) {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
        }
        img {
            width: 250px;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            @include max-width($md) {
                left: var(--bs-gutter-x);
                transform: translate(0, -50%);
                width: 130px;
            }
        }
    }
    h3 {
        margin: 0;
        font-size: 30px;
        @include max-width($xxl) {
            font-size: 25px;
        }
        @include max-width($md) {
            font-size: 20px;

        }
    }
    .strip-btn {
        font-size: 23px;
        background: $white;
        border-radius: 30px;
        padding: 10px 30px;
        color: $text;
        text-transform: uppercase;
        position: relative;
        @include max-width($md) {
            font-size: 14px;
            padding: 5px 14px;
            margin: 2px 0 0 0;
            display: inline-block;
        }
        &:hover {
            color: $white;
            background: $colorAlpha;
        }
    }

    &.strip-primary {
        background: $colorAlpha;
        margin-bottom: 40px;
        @include max-width($md) {
            padding: 8px 160px 10px 0;
        }
        .has-img {
            @include max-width($md) {
                right: 0;
                left: auto;
                img {
                    right: var(--bs-gutter-x);
                    left: auto;
                }
            }
        }
        h3 {
            // font-size: 25px;
            color: $white;
            .btn-primary-strip {
                border: 1px solid $colorBeta;
                border-radius: 30px;
                background: none;
                color: $white;
                background: $colorBeta;
                &:hover {
                    border: 1px solid $white;
                    color: $colorBeta;
                    background: $white;
                }
            }
        }
    }
}


.home-science {
    padding: 100px 0 180px;
    position: relative;
    overflow: hidden;
    @include max-width($md) {
        text-align: center;
        padding: 45px 0 100px;
    }
    &:before {
        content: "";
        position: absolute;
        left: -75px;
        top: 50px;
        width: 150px;
        height: 150px;
        background: url(../../images/star.svg) no-repeat;
        transform: rotate(var(--rotateVal));
        @include max-width($md) {
            display: none;
        }
    }
    &:after {
        content: "";
        position: absolute;
        right: -60px;
        top: 50px;
        width: 150px;
        height: 150px;
        background: url(../../images/star.svg) no-repeat;
        transform: rotate(var(--rotateVal));
        @include max-width($md) {
            width: 100px;
            height: 100px;
            right: -50px;
            // z-index: -1;
        }
    }
    a{
        cursor: pointer;
        font-weight: 600;
    }
    .science-img {
        position: relative;
        @include max-width($md) {
            text-align: center;
            margin-top: 20px;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: calc(50% - 50px);
            height: 100px;
            background: $secondary;
            width: 55vw;
            @include max-width($md) {
                left: 0;
                right: -10px;
                width: auto;
                height: 80px;
                top: calc(50% - 40px);
            }
            @include max-width (767px){
                width: 100vw;
                left: 0px;
            }
        }
        img {
            position: relative;
            z-index: $low;
            @include max-width($md) {
                width: 70%;
            }
        }
    }
    h4 {
        font-size: 60px;
        font-family: $secondary-font;
        color: $primary;
        @include max-width($md) {
            font-size: 30px;
            br {
                display: none;
            }
        }
    }
    p {
        font-size: 28px;
        @include max-width($md) {
            font-size: 20px;
        }
    }
    .bottom-el {
        @extend .flex, %justify-between, %align-end;
        padding: 0 60px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 30px;
        @include max-width($md) {
            padding: 0 15px 16px;
        }
        img {
            // max-height: 150px;
            animation: windy 3s infinite;
            animation-direction: alternate;
            transform-origin: bottom;
            &:nth-child(1) {
                max-height: 160px;
                @include max-width($md) {
                    display: none;
                }
            }
            &:nth-child(2) {
                max-height: 130px;
                @include max-width($md) {
                    max-height: 70px;
                }
            }
            &:nth-child(3) {
                max-height: 100px;
                @include max-width($md) {
                    max-height: 60px;
                }
            }
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background: url(../../images/repeat.jpg) repeat-x left center;
            background-size: auto 100%;
            height: 30px;
            @include max-width($md) {
                height: 16px;
            }
        }
    }
    &.scrolled {
        .science-img {
            img {
                animation: slideInRight 0.8s ease-in-out 0.3s forwards;
            }
        } 
    }
}

.home-world {
    padding: 60px 0 100px;
    background: $primary;
    position: relative;
    overflow: hidden;
    @include max-width($md) {
        padding: 30px 0 30px;
    }
    &:after {
        content: "";
        width: 150px;
        height: 150px;
        background: url(../../images/star-green.svg) no-repeat center center #f3ce2c;
        background-size: calc(100% - 20px);
        @extend %rounded-border;
        position: absolute;
        top: calc(50% - 75px);
        left: -75px;
        z-index: 1;
        @include max-width($md) {
            width: 100px;
            height: 100px;
            left: -50px;
        }
    }
    &:before {
        content: "";
        width: 150px;
        height: 150px;
        background: url(../../images/star-green.svg) no-repeat center center #f3ce2c;
        background-size: calc(100% - 20px);
        @extend %rounded-border;
        position: absolute;
        top: calc(50% - 75px);
        right: -75px;
        z-index: 1;
        @include max-width($md) {
            width: 100px;
            height: 100px;
            right: -50px;
        }
    }
    .row {
        @include max-width($md) {
            justify-content: center;
        }
    }
    .sec-hd {
        color: $white;
    }
    .has-hover {
        @include max-width($md) {
            margin-bottom: 20px;
            position: relative;
            z-index: 2;
        }
        &:hover {
            .card {
                @include transform(rotateY(180deg));
            }
        }
    }
    .card {
        border: 0;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: relative;
        padding-bottom: 100%;
        border-radius: $high + px;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
        z-index: 2;
        .card-front {
            background: no-repeat center center;
            background-size: cover;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            border-radius: $high + px;
            overflow: hidden;
            // @include transform(translateZ(15px));
            &::after {
                content: "";
                background: rgba($white, 0.5);
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
            }
            span {
                position: absolute;
                font-size: 50px;
                color: $primary;
                position: relative;
                z-index: $low;
                font-weight: 700;
                position: absolute;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%, -50%));
                white-space: nowrap;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                transform-style: preserve-3d;
            }
        }
        .card-back {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background-size: cover;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            @include transform(rotateY(180deg));
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: $high + px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px;
            font-size: 22px;
            &::after {
                content: "";
                background: rgba($white, 0.7);
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
            }
            p {
                position: relative;
                z-index: $low;
                transform:  translateZ(15px);
            }
        }
    }
    &.scrolled {
        &:before {animation: rotating 2s ease-in-out 0.3s;}
        &:after {animation: rotating 2s ease-in-out 0.3s backwards;}
    }
}

.home-mentors {
    background: url(../../images/mantor-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 60px 0 100px;
    position: relative;
    @include max-width($md) {
        padding: 30px 0 50px;
    }
    .owl-stage {
        @extend .flex;
    }
    .item-thumb {
        border: 3px solid $secondary;
        border-radius: 30px;
        overflow: hidden;
        display: inline-block;
        @extend %transition;
        width: 100%;
        transition-delay: 0.4s;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba($colorAlpha, 0.4);
            @extend %transition;
            display: none;
            // background-blend-mode: lighten;
        }
    }
    h5 {
        font-size: 28px;
        color: $colorAlpha;
        font-weight: 700;
        text-align: center;
        margin-top: 10px;
        @include max-width($md) {
            font-size: 22px;
        }
    }
    .owl-item {
        text-align: center;
        @extend .flex, %align-center;
        .item {
            @include max-width($md) {
                width: 300px;
                max-width: calc(100% - 30px);
                margin: 0px auto;
            }
        }
        &.active {
            .item-thumb {
                width: 80%;
                @include max-width($md) {
                    width: 100%;
                }
            }
            & + .active {
                .item-thumb {
                    width: 100%;
                }
                & + .active {
                    .item-thumb {
                        width: 80%;
                        @include max-width($md) {
                            width: 100%;
                        }
                    }
                }
            }
        }
        &:hover {
            .item-thumb {
                &:after {
                    opacity: 0;
                }
            }  
        }
    }
    .owl-dots {
        @include max-width($md) {
            display: flex;
            justify-content: center;
            margin: 8px 0 0 0;
            .owl-dot {
                background: darken($white, 25);
                width: 12px;
                height: 12px;
                margin: 0 3px;
                border-radius: 100%;
                &.active {
                    background: $colorAlpha;
                }
            }
        }
    }
    @include max-width($md) {
        .owl-nav{
            left: -10px;
            right: -5px;
            top: 80px;
            position: absolute;
        }
    }
    
}


.home-stories {
    display: block;
    position: relative;
    text-align: center;
    padding: 150px 0 180px;
    background: url("../../images/storiesbg.png") center;
    background-size: 50%;
    overflow: hidden;
    @include max-width($md) {
        background-size: 100%;
        padding: 50px 0 20px;
    }
    &::after {
        content: "";
        position: absolute;
        right: 100px;
        top: 30px;
        height: 150px;
        width: 150px;
        background: url("../../images/star.svg");
        background-size: 100%;
        transform: rotate(var(--rotateVal));
        @include max-width($md) {
            display: none;
        }
    }
    .container {
        &:before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0;
            bottom: 0;
            background: url(../../images/side-img1.png) repeat-y;
            width: 3%;
            background-size: 100%;
            @include transform(translateX(-100%));
            @include max-width($sm) {
                width: 4%;
            }
        }
        &:after {
            content: "";
            position: absolute;
            right: 5px;
            top: 0;
            bottom: 0;
            background: url(../../images/side-img2.png) repeat-y;
            width: 3%;
            background-size: 100%;
            @include transform(translateX(100%));
            @include max-width($sm) {
                width: 4%;
                right: 0;
            }
        }
    }
    .col-prod {
        border-radius: 50px;
        overflow: hidden;
        margin-bottom: 15px;
        @include max-width($md) {
            border-radius: 15px;
        }
        figure {
            margin: 0;
        }
    }
    h3 {
        font-weight: 600;
        font-size: 30px;
        @include max-width($md) {
            font-size: 20px;
        }
        &::after {
            content: "";
            width: 100px;
            height: 3px;
            background: $colorAlpha;
            margin: 8px auto;
            display: table;
            border-radius: 5px;
        }
    } 
    p {
        font-size: 18px;
        margin: 0;
    }
    a {
        display: table;
        color: $text;
        margin: 0 auto;
        font-size: 18px;
        position: relative;
        padding: 2px 8px;
        font-weight: 600;
        @include max-width($md) {
            margin-bottom: 30px;
        }
        &:after {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            inset: 0 0 0 0;
            background: #873d89;
            z-index: -1;
            transition: transform 0.3s ease;
            transform: scaleX(0);
            transform-origin: bottom right;
        }
        &:hover {
            color: $white;
            &:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }
    &.scrolled {
        .container {
            &:before {
                animation: slideInLeft 1s ease-in-out 1s forwards;
            }
            &:after {
                animation: slideInRight 1s ease-in-out 1s forwards;
            }
        }
        h3, p, a {
            animation: slideInDown 0.6s ease-in-out 0.4s forwards;
        }
    }
}
.thankyou-video{
    position: relative;
    z-index: 0;
    img{
        border-radius: 50px;
        margin-bottom: 15px;
        @include max-width($md) {
            border-radius: 15px;
        }
  
    }
    .wl-modal-btn.video-play-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        background: transparent;
        border: 0;
        transform: translate(-50%,-50%);
        padding: 0;
        
        &:hover{
            img{
                filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
            }
        }
        img{
            // width: 40px;
	        // height: 40px;
            transition: 0.3s;
            border-radius: 0;
        }
    }
    
}
