header {
    position: fixed;
    top: 0;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    left: 0;
    right: auto;
    width: 100%;
    z-index: 9999;
    .header-top {
        background: $primary;
        color: $white;
        height: 45px;
        padding: 6px 0 10px 0;
        @include max-width($md) {
            font-size: 14px;
            height: auto;
            padding: 6px 0 4px 0;
        }
        p {
            font-size: 16px;
            @include max-width($md) {
                font-size: 14px;
            }
        }
        a {
            &:hover {
                color: $white;
            }
        }
        .text-end{
            a{
                @include max-width (479px){
                    display: block;
                }
            }
        }
    }
    .header-bottom {
        padding-bottom: 10px;
        @include max-width($md) {
            background: rgba($primary, 0.1);
            position: relative;
        }
        .logo {
            margin: 0 60px;
            @include max-width($md) {
                margin: 0;
                
            }
            img { 
                width: 120px;
                margin: -30px 0 0 0;
                @include max-width($xxl) {
                    width: 110px;
                }
                @include max-width($md) {
                    width: 80px;
                    margin: 0;
                }
            }
        }
        .nav {
            &:not(.nav-sm) {
                justify-content: center;
                @include max-width($md) {
                    justify-content: flex-start;
                    display: none;
                    position: absolute;
                    flex-flow: column;
                    z-index: 500;
                    top: 100%;
                    right: 15px;
                    left: 15px;
                    padding: 20px 0 35px;
                    background: url(../../images/menu-patern.png) repeat-x $primary;
                    background-position: left calc(100% - 8px);
                    background-size: auto 15px;
                    @include max-width(767px){
                        background-size: auto 15px;
                    }
                    @include max-width(414px){
                        background-size: auto 16px;
                    }
                    @include max-width(360px){
                        background-size: auto 15px;
                    }
                }
                .nav-item {
                    display: flex;
                    align-items: center;
                    margin: 0 15px;
                    position: relative;
                    @include max-width($xxl) {
                        margin: 0 18px;
                    }
                    @include max-width($sm) {
                        display: block;
                    }
                    .nav-link {
                        color: $primary;
                        text-transform: uppercase;
                        padding: 10px 0;
                        margin-top: 16px;
                        font-size: 22px;
                        @include min-width($lg) {
                            font-size: 18px;

                        }
                        @include min-width($xxl) {
                            font-size: 22px;

                        }
                        
                        @include max-width($md) {
                            color: $white;
                            margin-top: 0;
                            padding: 9px 0;
                            width: 100%;
                        }
                        &:after {
                            content: "";
                            width: 100%;
                            display: table;
                            height: 8px;
                            margin-top: 5px;
                            background: url(../../images/menu-hover.svg) repeat-x;
                            background-size: 100px;
                            animation: wave 4.2s linear 0s infinite;
                            opacity: 0;
                            @include max-width($xxl) {
                                display: none;
                            }
                        }
                        &:hover {
                            &:after {
                                opacity: 1;
                            }
                        }
                        span{
                            width: 30px;
                            height: 30px;
                            display: inline-block;
                            svg{
                                fill: #d13f81;
                                @include max-width($sm)
                                {
                                    fill: #ffffff;
                                }
                            }
                        }
                    }
                    .sub-menu{
                        
                        position: absolute;
                        top: 80%;
                        background: #f3ce2c;
                        padding: 10px 30px;
                        @include max-width($sm){
                            position: static;
                        }
                        li{
                            list-style: none;
                            a{
                                color: #000000;
                                &:hover{
                                    color: #873d89;
                                }
                            }
                        }
                    }
                }
                .logo {
                    @include max-width($md) {
                        display: none;
                    }
                }
            }
            li{
                // @include max-width($sm){
                //     display: block;
                // }
                .sub-menu{
                    display: none;
                    
                }
                &:hover{
                    .sub-menu{
                        display: block;
                        transition: 2s all;

                    }
                }
            }
            &.nav-sm {
                padding: 10px 0 0 0;
                @extend .inline-flex;
                @include max-width($md) {
                    width: 100%;
                    align-items: center;
                }
                .nav-item {
                    margin: 0 12px;
                    .nav-link {
                        padding: 0;
                        &:hover {
                            svg {
                                .cls-1 {fill:$colorBeta;}
                            }
                        }
                        svg {
                            height: 28px;
                            @include max-width($xxl) {
                                height: 26px;
                            }
                            .cls-1 {fill:$primary;}
                        }
                    }
                    &.menu-btn {
                        display: none;
                        @include max-width($md) {
                            display: block;
                        }
                    }
                    &:nth-child(1) {}
                    &:nth-child(2) {order: 4;}
                    &:nth-child(3) {order: 1;}
                    &:nth-child(4) {order: 2;}
                    &:nth-child(5) {order: 5;}
                }
                .logo {
                    display: none;
                    @include max-width($md) {
                        display: block;
                        order: 3;
                        margin: -8px auto 0;
                    }
                }
            }
        }
        .container{
            padding-left: 0;
            padding-right: 0;
        }
    }
}.sticky{
    position: fixed;
    padding: 0;
    -webkit-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
    box-shadow: 1px 3px 15px rgba(113,113,113,0.35);
    background: rgba(255,255,255,0.9);
    top: 0;
    z-index: 9999;
}



